.bg-portifolio{
    background-color: rgb(51, 51, 51);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
}
.mr-none{
    margin-right: 0;
}

.project{
    width: 3rem;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.perso_modal{
    border-radius: 1rem;
}